---
title: The Link Page
description: Remove paywalls from Torrent links
forceTheme: light
sitemap: false

---
<section class="content mono">
  <h1>{{title}}</h1>
  <p>
    There's a certain torrent site, that has a very annoying feature.
    When you want to click the <strong>Magnet</strong> or <strong>Download Torrent</strong>
    button, the site redirects you to another webpage with a lot of ads and you have to
    click next like 10 times to get to the real link.
  </p>
  <p>
    With this you only need to right-click the torrent link and paste it here, the gray
    text area below will show you the real magnet link.
  </p>

  <p>
    <label for="input">URL:</label>
    <input id="input">
    <button id="paste">Paste</button>
  </p>
  <p>
    <textarea id="output" rows="7" readonly></textarea>
  </p>
  <p class="right">
    <button id="open">Open URL</button>
    <button id="copy">Copy</button>
  </p>
</section>


<style>
  #url { width: 200px; }
  textarea { background: #eee; }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const input = document.getElementById('input');
  const output = document.getElementById('output');
  const btnCopy = document.getElementById('copy');
  const btnPaste = document.getElementById('paste');
  const btnOpen = document.getElementById('open');

  init();

  function init() {
    input.addEventListener('change', transformURL);
    btnCopy.addEventListener('click', copyURL);
    btnPaste.addEventListener('click', pasteURL);
    btnOpen.addEventListener('click', openURL);
  }

  function transformURL() {
    let origin = input.value;
    let [_, encoded] = origin.split('?url=');
    if (!encoded) return;

    let decoded = decodeURIComponent(encoded);
    output.value = decoded;
  }

  function pasteURL() {
    return navigator.clipboard.readText()
      .then(text => input.value = text)
      .then(transformURL)
  }

  function copyURL() {
    output.select();
    document.execCommand('copy');
  }

  function openURL() {
    if (!output.value) return;
    window.open(output.value);
  }
})
</script>