
<meta charset="utf-8">
<meta name=viewport content="width=device-width,initial-scale=1">

{# GENERATE THE TITLE FOR THE PAGE #}
{%- if not __title -%}
    {%- if page.title -%}
        {%- set __title = page.title -%}
    {%- else -%}
        {%- set __title = "Herson Salinas" -%}
    {%- endif -%}
{%- endif -%}

<title>{{ __title }}</title>



{# MUST-HAVE METATAGS #}
<meta name="robots" content="index,follow">
{% if page.description -%}
    <meta name="description" content="{{ page.description }}">
{%- endif %}
<meta name="format-detection" content="telephone=no">
{% if page.permalink -%}
    <base href="{{ page.permalink }}">
{%- endif %}



{# METAGAGS FOR FAVICONS #}
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon-16x16.png">
<link rel="manifest" href="/assets/img/site.webmanifest">
<link rel="mask-icon" href="/assets/img/safari-pinned-tab.svg" color="#dc143c">
<link rel="shortcut icon" href="/assets/img/favicon.ico">
<meta name="msapplication-TileColor" content="#dc143c">
<meta name="msapplication-config" content="/assets/img/browserconfig.xml">
<meta name="theme-color" content="#dc143c">



{# SOCIAL MEDIA METATAGS #}
{% if page.layout == 'post' %}
<meta property="og:url" content="{{ page.permalink }}">
<meta property="og:title" content="{{ __title }}">
<meta property="og:type" content="website">
<meta property="og:image" content="{{ config.url }}/assets/img/banners/{{ page.slug }}@social.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="675">

<meta property="og:site_name" content="{{ config.title }}">
<meta property="og:locale" content="{{ page.language or config.language }}">
<meta property="article:author" content="{{ page.author or config.author }}">

<meta name="twitter:creator" content="@hersonhn">
<meta name="twitter:url" content="{{ page.permalink }}">
<meta name="twitter:title" content="{{ __title }}">
<meta name="twitter:image" content="{{ config.url }}/assets/img/banners/{{ page.slug }}@social.png">
{% endif %}



{# RSS FEED AND SITEMAP #}
<link rel="sitemap" href="/sitemap.xml" />
<link rel="alternate" type="application/rss+xml" title="Herson Salinas" href="/atom.xml">



{# PAGE STYLES #}
<link rel="stylesheet" href="/assets/scss/master.css?v={{ moment().unix() }}">

{% for fileName in page.cssFiles -%}
    <link rel="stylesheet" href="{{ fileName }}?v={{ moment().unix() }}">
{% endfor -%}

{%- if _hascode -%}
    <link rel="stylesheet" href="/assets/css/highlight/tomorrow-night.css">
{%- endif -%}

{%- if _hasgist -%}
    <link rel="stylesheet" href="/assets/scss/gist/gist.css">
{%- endif %}


{# GOOGLE ANALYTICS #}
{%- include 'partials/google-analitics.njk' -%}

