<title>
  {% if __title %}
    {{ __title }}
  {% elif page.title %}
    {{ page.title }}
  {% else %}
    HersonHN
  {% endif %}
</title>
<meta charset="utf-8">
<meta name=viewport content="width=device-width,initial-scale=1">
<meta name="description" content="Herson Salinas' webste">
<meta name="robots" content="index,follow">
<link rel="stylesheet" href="/assets/scss/master.css?v={{ moment().unix() }}">
<link rel="stylesheet" href="/assets/css/fontello/fontello-embedded.css?v={{ moment().unix() }}">
{% for fileName in page.cssFiles %}
<link rel="stylesheet" href="{{ fileName }}?v={{ moment().unix() }}">
{% endfor %}

{% if site.posts.length %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
{% endif %}
{% include 'partials/google-analitics.njk' %}
