<header
  {% if page.layout == 'post' %}
    class="site-header bg-color banner blur"
    style="background-image: url('/assets/img/banners/{{ page.slug }}@banner.png')"
  {% else %}
    class="site-header bg-color"
  {% endif %}>
  <div class="flex header-inner">
    <div class="flex-grow">
      {% if site.posts.length %}
      <nav class="center">
        <span class="bg-color rounded">
          <a href="/">Home</a> |
          <a href="/posts">Posts</a>
        </span>
      </nav>
      {% endif %}
    </div>
    <div class="flex-shrink change-theme-container">
      {% if not page.forceTheme -%}
        <change-theme></change-theme>
      {% endif -%}
    </div>
  </div>

  {% if not page.forceTheme -%}
  <script>
    if (localStorage.getItem('theme')) {
      document.body.className = localStorage.getItem('theme');
    }
  </script>
  {% endif -%}
</header>