<header
  {% if page.layout == 'post' %}
    class="site-header banner"
    style="background-image: url('/assets/img/banners/{{ page.slug }}.png')"
  {% else %}
    class="site-header"
  {% endif %}>
  <div class="flex">
    <div class="flex-grow">
      {% if site.posts.length %}
      <nav class="center">
        <span class="bg-color rounded">
          <a href="/">Home</a> |
          <a href="/posts">Posts</a>
        </span>
      </nav>
      {% endif %}
    </div>
    <div class="flex-shrink change-theme-container">
      {% if not page.forceTheme -%}
        <change-theme></change-theme>
      {% endif -%}
    </div>
  </div>
  <script>
    if (localStorage.getItem('theme')) {
      document.body.className = localStorage.getItem('theme');
    }
  </script>
</header>