
a {
  @extend .fg-color;
  transition: color 0.2s ease;
}

a:hover {
  color: crimson;
}

p {
  line-height: 1.5em;
}

input, button, textarea {
  padding: .5rem;
}

textarea {
  width: 100%;
  border: none;
}

.center {
  text-align: center;
}
