
a {
  @extend .fg-color;
  transition: color 0.2s ease;
}

a:hover {
  color: crimson;
}

figure {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", sans-serif;
}

p {
  line-height: 1.5em;
}

input, button, textarea {
  font-size: .9rem;
  padding: .5rem;
}

textarea {
  width: 100%;
  border: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.gray {
  color: #666;
}