* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: crimson;
}

#page-content {
  display: flex;
  flex-flow: column nowrap;
  background: white;
  color: #333;
  min-height: 100%;
}

header {
  border-top: 5px solid crimson;
}

main {
  flex: 1 1;
}

footer {
  background: #eee;
  text-align: center;
}

footer nav {
  padding: 2em .5em;
}

a {
  color: #333;
  transition: color 0.2s ease;
}

a:hover {
  color: crimson;
}

.welcome {
  max-width: 800px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.logo {
  width: 350px;
  height: 390px;
  display: block;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.logo img,
.logo svg,
.logo canvas {
  width: 350px;
  height: 400px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

canvas {
  image-rendering: pixelated;
  width: 300px;
  height: 350px;
  margin: 25px;
}

p {
  font-family: 'Verdana', sans-serif;
  line-height: 1.5em;
}

hr {
  border: none;
  border-bottom: #ddd 1px solid;
  margin: 2rem 0;
}

.code-title {
  font-family: monospace;
  text-transform: lowercase;
  font-size: 1.3rem;
}
.code-title:before {
  content: "/* ";
}
.code-title:after {
  content: " */";
}

.icon i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.2rem;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  transition: all 0.3s ease;
}

.icon:hover {
  color: inherit;
}
.icon:hover i {
  background: crimson;
  color: white;
}

.spoiler {
  opacity: 0;
}

.spoiler:hover {
  opacity: 1;
}
