<!DOCTYPE html>
<html lang="{{ config.language }}">
<head>
{%- include 'partials/html-header.njk' -%}
</head>
<body class="system-theme latin-modern">

<section id="global-content"
  {%- if page.forceTheme -%}
    class="{{page.forceTheme}}-theme"
  {%- endif -%}
>
{%- include 'partials/site-header.njk' -%}
<main>
{%- block content -%}
{%- endblock -%}
</main>
<section>
{%- block postcontent -%}
{%- endblock -%}
<section>
{%- include 'partials/site-footer.njk' -%}
</secion>
{%- include 'partials/html-footer.njk' -%}
</body>
</html>
