<!DOCTYPE html>
<html lang="en">
<head>
{% include 'partials/html-header.njk' %}
</head>
<body class="
  {% if page.theme %}
    {{page.theme}}-theme
  {% else %}
    system-theme
  {% endif %}
">

<section id="global-content">
{% include 'partials/site-header.njk' %}
<main>
{% block content %}
{% endblock %}
</main>
<section>
{% block postcontent %}
{% endblock %}
<section>
{% include 'partials/site-footer.njk' %}
</secion>
{% include 'partials/html-footer.njk' %}
</body>
</html>
