{% extends "_layout.njk" %}

{% if page.tag %}
  {% set __title = "Tag: " + page.tag %}
{% else %}
  {% set __title = "All Posts" %}
{% endif %}

{% block content %}
<section class="content">

<h2>{{ __title }}</h2>

{% for post in page.posts.data %}
<p>
  <small>{{ moment(post.date).format('YYYY-MM-DD') }}</small>
  <a href="/{{ post.path }}">{{ post.title }}</a>
</p>
{% else %}
<p>No posts yet.</p>
{% endfor %}

</section>
{% endblock %}