{% extends "_layout.njk" %}


{% if page.tag %}
  {% set __title = "Tag: " + page.tag %}
{% else %}
  {% set __title = "All Posts" %}
{% endif %}


{% block content %}
<section class="content archive-section">
  <h2 class="main-title">{{ __title }}</h2>

  {% for post in page.posts.data %}
    <p class="flex">
      <span class="flex-shrink">
        <span class="date">{{ moment(post.date).format('YYYY-MM-DD') }}</span>
      </span>
      <span class="flex-grow">
        <a href="/{{ post.path }}">{{ post.title }}</a>
      </span>
    </p>
    {% else %}
    <p>No posts yet.</p>
  {% endfor %}

</section>
{% endblock %}


{% block postcontent %}
  {% include "partials/tags.njk" %}
{% endblock %}
