<!DOCTYPE html>
<html lang="en">
<head>
{% include 'partials/html-header.njk' %}
</head>
<body class="system-theme">
<section id="global-content">
{% include 'partials/site-header.njk' %}
<main>
{{page.content}}
</main>
{% include 'partials/site-footer.njk' %}
</secion>
{% include 'partials/html-footer.njk' %}
</body>
</html>
