{% extends "_layout.njk" %}

{# Check for a ``` in the markdown content, that will load the code hilight css #}
{% if (page._content.indexOf('```') > -1) %}
  {% set _hascode = true %}
{% endif %}
{% if (page._content.indexOf('gist.github.com') > -1) %}
  {% set _hasgist = true %}
{% endif %}

{% block content %}
<section class="post content">
  <div class="title">
    <h1>{{ page.title }}</h1>
    <div class="second-line">
      <small class="gray">{{ moment(page.date).format('YYYY-MM-DD') }}</small>
        {% for tag in page.tags.data | sort(false, true, 'name') %}
        <a class="tag" href="/{{ tag.path }}">
          {{ tag.name }}
        </a>
        {% endfor %}
    </div>
  </div>

  <article>
    {{page.content}}
  </article>
</section>
{% endblock %}