* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  height: 100%;
  font: 1rem sans-serif;
}


#global-content {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;

  & > main {
    flex: 1 1;
  }

  .content {
    max-width: 80ch;
    margin: auto;
    padding: 1rem;
  }
}

