* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}


#global-content {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  font-family: sans-serif;

  & > main {
    flex: 1 1;
  }

  .content {
    max-width: 900px;
    margin: auto;
    padding: 1rem;
  }
}

