
.site-header {
  border-top: 5px solid crimson;
  padding: 1rem;

  .change-theme-container {
    min-width: 32px;
    min-height: 32px;
  }

  &.banner {
    min-height: 25vw;
    transition:  min-height 1s linear;
    background-position: center center;
    background-size: cover;
  }

  .rounded {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 10px;
  }
}

@media (orientation: portrait) {
  .site-header.banner {
    min-height: 75vw;
  }
}
