
.index-section {
  $logo-width: 900px / 3;
  $logo-height: 1000px / 3;
  
  $canvas-width: 256px * 1.5;
  $canvas-height: 224px * 1.5;

  .welcome {
    max-width: 800px;
    margin: 0 auto;
  }

  .logo {
    width: $logo-width;
    height: $logo-height;
    display: block;
    margin: 50px auto;
    position: relative;
    overflow: hidden;

    svg, canvas {
      display: block;
      position: absolute;
    }

    canvas {
      width: $canvas-width;
      height: $canvas-height;
      top: ($logo-height - $canvas-height) / 2;
      left: ($logo-width - $canvas-width) / 2;
    }

    svg {
      width: $logo-width;
      height: $logo-height;
      top: 0;
      left: 0;
    }
  }
}